version: 2.1
orbs:
  firebase-deploy: cloudliner/firebase-deploy@0.0.2

jobs:
  build:
    docker:
      - image: circleci/node:11
    steps:
      - checkout
      - run: npm install
      - run: npm build
      - run: npm test
      - firebase-deploy/deploy:
          token: ${DEPLOY_KEY}
